// font color
$primary-font-color: #323854;
$placeholder-font-color: #79747F;
$form-secondary-color: #79747F;

//form
$form-btn-bg-color: #8D7FC7;
$form-link-text-color: #008AFF;

//nav
$nav-bg-color: #EEEEFF;
$nav-font-color: #434B74;
$nav-font-color-active: #fff;
$active-item-bg-color: #8D7FC7;

//promo
$promo-font-color: #323854;
$promo-bg-color: #D8ECFF;