.tasks {
  padding: 28px 28px 30px 28px;
  border: 1px solid #7362BC;
  border-radius: 30px;
  overflow-y: visible;

  &__title {
    font-family: 'Circe-Light';
    color: #323854;
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 31px;
  }

  &__list {
    width: 288px;
    margin-bottom: 56px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEFF;
    margin-bottom: 20px;
  }

  &__item_title {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #323854;
  }

  &__item_value {
    position: relative;
    z-index: 2;
    font-size: 2rem;
    text-align: center;
    margin-right: 11px;
  }

  &__item_value::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #EEEEFF;
    border-radius: 50%;
  }
}