.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  width: 100%;
  margin-bottom: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-box-shadow: -1px 7px 6px -6px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 7px 6px -6px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 7px 6px -6px rgba(34, 60, 80, 0.2);

  &__icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 58px;
  }

  &__icon {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__icon_user_avatar {
    width: 42px;
    height: 42px;
  }

  &__badge {
    position: absolute;
    top: -4px;
    right: -2px;
    font-family: 'Circe-Bold';
    color: #fff;
    font-size: 1rem;
    line-height: 0.8rem;
    padding: 4px 6px;
    border-radius: 50%;
    background-color: #E84849;
  }

  &__icon_user {
    display: flex;
    align-items: center;
    margin-left: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__icon_arrow {
    display: block;
    margin-left: 8px;
  }
}

.greetings {
  padding-left: 32px;

  &__text,
  &__name {
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: #323854;
  }

  &__name {
    color: #7362BC !important;
    margin-left: 5px;
  }
}