@import '../../styles/vars';

.nav {
  width: 236px;
  background-color: $nav-bg-color;
  margin-top: 24px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 24px;

  &__list {
    margin-bottom: 55px;
  }

  &__logo {
    margin-bottom: 36px;
  }

  &__item {
    position: relative;
    width: 199px;
    background-color: inherit;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-bottom: 7px;
    padding-top: 8px;
    margin-left: -19px;
    padding-left: 45px;
  }

  &__link_active {
    background-color: $active-item-bg-color;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #fff;
    font-family: 'Circe-Bold';
  }

  &__link_active * {
    color: #fff;
    fill: #fff;
  }

  &__link_active span {
    color: #fff;
  }

  &__title {
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-decoration: none;
    color: $nav-font-color;
    cursor: pointer;
    margin-left: 8px;
  }
}